@model LexiconLMS.Models.Activities

@{
    ViewBag.Title = "Skapa ny aktivitet";
    
 }




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-sm-12">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <h2>Aktiviteter</h2>
            <div class="form-horizontal">
                <h4>@ViewBag.Title</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ActivityType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.ActivityType, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ActivityType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group date-picker" id="#datetimepickerStartdate">
                    @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2 date-picker"})
                    <div class="col-md-10 date-picker">
                        @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control date-picker", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group date-picker" id="datetimepickerEnddate">
                    @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="input-group col-md-10 date-picker">
                        @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control date-picker", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Deadline, htmlAttributes: new { @class = "control-label col-md-" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Deadline)
                            @Html.ValidationMessageFor(model => model.Deadline, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.CourseId, "CourseId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CourseId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                    </div>
                </div>*@


                <div class="form-group" style="display: none;">
                        @Html.EditorFor(model => model.CourseId, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.bla } })
                    </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Spara " class="btn btn-default" />
                            @*<a href="@Url.Action("Details", "Courses", new { id = Model.CourseId })" type="button" class="btn btn-default btn-sm">*@
                        <a href="@Url.Action("Index", "Courses")" type="button" class="btn btn-default">
                            Tillbaka
                        </a>
                       
                    </div>
                </div>
            </div>
             <div class="col-sm-3">
            </div>
        </div>
    </div>
}
    <div class="container botMarg">
        <div class="col-sm-12">
            <p>
            </p>
        </div>
    </div>
 <script type="text/javascript">
    $(function () {
        $('#datetimepickerStartdate').datetimepicker();
        $('#datetimepickerEnddate').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepickerStartdate").on("dp.change", function (e) {
            $('#datetimepickerEnddate').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepickerEnddate").on("dp.change", function (e) {
            $('#datetimepickerStartdate').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
