@model LexiconLMS.Models.Activities

@{
    ViewBag.Title = "Borttag av aktivitet";
}
<div class="col-sm-12">

    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <h2>Aktiviteter</h2>
        <h3 style="background:#FFFFFF;color:rgb(255, 0, 0);">Är du säker på att du vill ta bort @Html.DisplayFor(model => model.Name) som ingår i @Html.DisplayFor(model => model.Course.Name)?</h3>
        <div>
            <h4>@ViewBag.Title</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Course.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ActivityType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ActivityType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EndTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Deadline)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Deadline)
                </dd>

            </dl>

            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a href="@Url.Action("Index", "Activities")" type="button" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-arrow-up">
                            </span>
                            Åter lista
                        </a>
                        <input type="submit" value="Ta bort " class="btn btn-sm glyphicon-minus" />
                    </div>
                </div>
                @*<div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>*@
            }
        </div>
    </div>

    <div class="col-sm-3">
    </div>
</div>
        <div class="container botMarg">
            <div class="col-sm-12">
                <p>
                </p>
            </div>
        </div>
