@model LexiconLMS.Models.Activities

@{
    ViewBag.Title = "Details";
}
<div class="col-sm-12">
    <div class="col-sm-3">
    </div><div class="col-sm-6">
        <h2>Aktivitet - @Html.DisplayFor(model => model.Name)</h2>

        <div>
            @*<h4>Detaljer @Html.DisplayFor(model => model.Name)</h4>*@
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Course.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ActivityType)
                </dt>

                <dd>
                    @ExtensionMethods.DisplayFor(Model.ActivityType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EndTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Deadline)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Deadline)
                </dd>

            </dl>
        </div>
        <p>
            @if (User.IsInRole("Teacher")) {
                <span>
                    <a href="@Url.Action("Edit", "Activities", new { id = Model.Id })" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span>
                        Ändra 
                    </a>
                </span>
            }
            @if (User.IsInRole("Teacher")) {
                <span>
                    <a href="@Url.Action("Delete", "Activities", new { id = Model.Id })" class="btn btn-default btn-sm">
                        @*<span class="glyphicon glyphicon-minus-sign"></span>*@
                        Ta bort
                    </a>
                </span>
            }
            @*<a href="@Url.Action("Index", "Activities")" type="button" class="btn btn-default btn-sm">*@

                <a href="@Url.Action("Details", "Courses", new { id = Model.CourseId } )" type="button" class="btn btn-default btn-sm">
                    @*<span class="glyphicon glyphicon-arrow-up">
                </span>*@
                    Tillbaka
                </a>
</p>
    </div>
    <div class="col-sm-3">
    </div>
</div>
<div class="container botMarg">
    <div class="col-sm-12">
        <p>
        </p>
    </div>
</div>
