@model LexiconLMS.Models.Activities

@{
    ViewBag.Title = "Redigera aktivitet";
}
<div class="col-sm-12">

    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <h2>Aktiviteter</h2>
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>@ViewBag.Title</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.ActivityType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.ActivityType, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ActivityType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                        <p>2015-10-31 00:00:00</p>
                    </div>
                </div>
               
                <div class="form-group">
                    @Html.LabelFor(model => model.Deadline, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Deadline)
                            @Html.ValidationMessageFor(model => model.Deadline, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CourseId, "CourseId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CourseId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Model.CourseId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Spara " class="btn btn-default btn-sm" />
                        @*<a href="@Url.Action("Index", "Activities")" type="button" class="btn btn-default btn-sm">*@
                        <a href="@Url.Action("Details", "Courses", new { id = Model.CourseId } )" type="button" class="btn btn-default btn-sm">

                            @*<span class="glyphicon glyphicon-arrow-up">
            </span>*@
                            Tillbaka
                        </a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<div class="col-sm-3">
</div>
<div class="container botMarg">
    <div class="col-sm-12">
        <p>
        </p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
