@model IEnumerable<LexiconLMS.Models.Activities>
@using GridMvc.Html;
@using LexiconLMS;
@{
    ViewBag.Title = "Aktiviteter index";
    ViewBag.GoBackToView = "../Activities/Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @if (User.IsInRole("Teacher")) {@Html.ActionLink("Lägg upp ny", "Create")}
</p>
<h4>Aktiviteter</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        string visibleText = ExtensionMethods.trTextColor(item.StartTime, item.EndTime);
        string GoToUrl = "../Activities/Details";
        string GoToUrlForId = @GoToUrl + "/" + item.Id;

       // @*<tr style=@ExtensionMethods.trColor(item.StartTime, item.EndTime) onclick="this.children[0].children[0].click();">*@
          <tr>
            <td>
                @*@Html.ActionLink((item.Course.Name), @GoToUrl, new { id = item.Id }, new { @class = @visibleText })*@
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @*@Html.ActionLink(item.StartTime.ToString("yyyy-MM-dd hh:mm"), @GoToUrl, new { id = item.Id }, new { @class = @visibleText })*@
                @*@Html.DisplayFor(modelItem => item.StartTime.ToString("yyyy-MM-dd hh:mm"))*@
                @Html.DisplayFor(modelItem => item.StartTime)
            <td>
                @*@Html.ActionLink(item.EndTime.ToString("yyyy-MM-dd hh:mm"), @GoToUrl, new { id = item.Id }, new { @class = @visibleText })*@
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>

            <td>
                @if (User.IsInRole("Teacher"))
                { <a class="btn btn-success" href="Create">Ändra &raquo;</a>  }         @*Obs!LÄnkar till Create just nu. ID måste skickas med till Edit!*@                     @*{@Html.ActionLink("Edit", "Edit", new { id = item.Id })}*@       
            </td>
            <td>
                @if (User.IsInRole("Teacher"))
                { <a class="btn btn-primary" href="~/Views/Activities/Edit.cshtml">Ta bort &raquo;</a>  }   @*{@Html.ActionLink("Delete", "Delete", new { id = item.Id })}*@
            </td>

            <td>
                  <a class="btn btn-danger" href="~/Views/Activities/Edit.cshtml">Detaljer &raquo;</a>     @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@
            </td>
        </tr>
    }
</table>
