
@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>

    <link rel="stylesheet" href="//cloud.typography.com/6985672/704742/css/fonts.css" />
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Content("~/Home/Index/")"><img src="@Url.Content("~/Images/logo-lexicon@2x.gif")" id="lexicon-logo" alt="" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="sub @ViewBag.HomeCurrent">
                        <a href="@Url.Content("~/Home/Index/")"><strong>HEM</strong></a>
                        <span></span>
                    </li>



                    <li class="sub @ViewBag.GroupsCurrent">
                        <a href="@Url.Content("~/Groups/Index/")"><strong>GRUPPER</strong></a>
                        <span></span>
                    </li>
                    <li class="sub @ViewBag.CourseCurrent">
                        <a href="@Url.Content("~/Courses/Index/")"><strong>KURSER</strong></a>
                        <span></span>
                    </li>
                    <li class="sub @ViewBag.ContactCurrent">
                        <a href="@Url.Content("~/Home/Contact/")"><strong>KONTAKT</strong></a>
                        <span></span>
                    </li>
                    <li class="sub @ViewBag.UserCurrent">
                        <a href="@Url.Content("~/Users/Index/")"><strong>ANVÄNDARE</strong></a>
                        <span></span>
                    </li>
                    <li class="sub @ViewBag.ActivitiesCurrent">
                        <a href="@Url.Content("~/Activities/Index/")"><strong>AKTIVITETER</strong></a>
                        <span></span>
                    </li>
                    <li class="sub  @ViewBag.DocumentCurrent">
                        <a href="@Url.Content("~/Documents/Index/")"><strong>DOKUMENT</strong></a>
                    </li>                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@




















<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>

    <link rel="stylesheet" href="//cloud.typography.com/6985672/704742/css/fonts.css" />
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" />

</head>
<body>
    <header class="banner-top">
        <div class="topbar">
            <div class="group">
                <a href="@Url.Content("~/Home/Index/")"><img src="@Url.Content("~/Images/logo-lexicon@2x.gif")"  id="lexicon-logo" alt="" /></a>
                @Html.Partial("_LoginPartial")

            </div>
            <div class="group">
            </div>
        </div>
        <div class="navigation-bar">
            <nav role="navigation" id="nav">
                <ul class="bg-col8">
 

                    <li class="sub @ViewBag.HomeCurrent">
                        <a href="@Url.Content("~/Home/Index/")"><strong>HEM</strong></a>
                        <span></span>
                    </li>



                    <li class="sub @ViewBag.GroupsCurrent">
                        <a href="@Url.Content("~/Groups/Index/")"><strong>GRUPPER</strong></a>
                        <span></span>
                    </li>
                    <li class="sub @ViewBag.CourseCurrent">
                        <a href="@Url.Content("~/Courses/Index/")"><strong>KURSER</strong></a>
                        <span></span>
                    </li>
                    <li class="sub @ViewBag.ContactCurrent">
                        <a href="@Url.Content("~/Home/Contact/")"><strong>KONTAKT</strong></a>
                        <span></span>
                    </li>
                    <li class="sub @ViewBag.UserCurrent">
                        <a href="@Url.Content("~/Users/Index/")"><strong>ANVÄNDARE</strong></a>
                        <span></span>
                    </li>
                    <li class="sub @ViewBag.ActivitiesCurrent">
                        <a href="@Url.Content("~/Activities/Index/")"><strong>AKTIVITETER</strong></a>
                        <span></span>
                    </li>
                    <li class="sub  @ViewBag.DocumentCurrent">
                        <a href="@Url.Content("~/Documents/Index/")"><strong>DOKUMENT</strong></a>
                    </li>

                    


                </ul>
                
            </nav>
        </div>
        <div class="line-separator"></div>
    </header>


                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Lexicon LMS</p>
                    </footer>
                </div>

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
</body>
</html>
