@model LexiconLMS.Models.Document

@{
    ViewBag.Title = "Detaljer dokument";
}
<div class="col-sm-12">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <h2>Dokument</h2>
        <div>
            <h4>@ViewBag.Title</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Activities.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Activities.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Course.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Group.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Group.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dateCreated)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dateCreated)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationUser.FullName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApplicationUser.FullName)
                </dd>

                @*<dt>
                        @Html.DisplayNameFor(model => model.ApplicationUserId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ApplicationUserId)
                    </dd>*@

            </dl>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index", "Documents")" type="button" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-arrow-up">
                    </span>
                    Åter till lista
                </a>
                <input type="submit" value="Spara ändring" class="btn btn-default  btn-sm" />
            </div>
        </div>		
    </div>
    <div class="col-sm-3">
    </div>
</div>
<div class="container botMarg">
    <div class="col-sm-12">
    
    </div>
</div>