@model IEnumerable<LexiconLMS.Models.Document>

@{
    ViewBag.Title = "Alla dokument";
    ViewBag.OddOrEven = 0;
}
<div class="container-fluid topMarg">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <div>
                <h2>@ViewBag.Title </h2>
            </div>
            <p>
                <span>
                    <a href="@Url.Action("Create")" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Skapa nytt
                    </a>
                </span>
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Activities.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Course.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Group.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplicationUser.FullName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr style=@ExtensionMethods.trColorGrayWhite(ViewBag.OddOrEven) onclick="this.children[0].children[0].click();">
                        <td>
                            @Html.DisplayFor(modelItem => item.Activities.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Group.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                        </td>
                        <td>
                            <span>
                                <a href="@Url.Action("Edit", "Documents", new { id = item.Id })" class="btn btn-warning btn-sm">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    Redigera
                                </a>
                            </span>
                        </td>
                        <td>
                            <span>
                                <a href="@Url.Action("Details", "Documents", new { id = item.Id })" class=" btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    Detaljer
                                </a>
                            </span>
                        </td>
                        <td>
                            <span>
                                <a href="@Url.Action("Delete", "Documents", new { id = item.Id })" class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-minus-sign"></span>
                                    Ta bort
                                </a>
                            </span>
                        </td>
                    </tr>
                    ViewBag.OddOrEven = ViewBag.OddOrEven + 1;
                }

            </table>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
</div>
<div class="container botMarg">
    <div class="col-sm-12">
        <p>
        </p>
    </div>
</div>
