@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Kurs detaljerad beskrivning";
    ViewBag.GoBackToView = "../Courses/Details/";
    ViewBag.GoBackToUrl = "../Courses/Details/" + Model.Id;
    ViewBag.CourseId = Model.Id;
    ViewBag.OddOrEven = 0;
}
<h2>@Html.DisplayFor(model => model.Group.Name) - @Html.DisplayFor(model => model.Name)/</h2>
@using GridMvc.Html;
@using LexiconLMS;
   <div class="col-sm-12">
        <div class="col-sm-12">
            @*<div>
                <h2>@ViewBag.Title </h2>
            </div>*@
            <div class="mini-box" style="background: #f2f2f2;color:#0000">
                <dl class="dl-horizontal">
                    @*<h2 >Kurs @Html.DisplayFor(model => model.Name)</h2>*@
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Group.Name)
                        </dt>

                        <dd>
                            @Html.ActionLink(Model.Group.Name, "../Groups/Details", new { id = Model.GroupId })
                            @*@Html.DisplayFor(model => model.Group.Name)*@
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => Model.Name)
                        </dt>

                        <dd>
                            @Html.ActionLink(Model.Name, "../Courses/Details", new { id = Model.Id })
                            @*@Html.DisplayFor(model => model.Name)*@
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.StartDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EndDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EndDate)
                        </dd>
                    </dl>
            </div>
            @if (User.IsInRole("Teacher"))
            {
                <span>
                    <a href="@Url.Action("Edit", "Courses", new { id = Model.Id })" class="btn btn-default btn-sm">
                        @*<span class="glyphicon glyphicon-edit">
                        </span>*@
                        Ändra
                    </a>
                </span>
            }
            <a href="@Url.Action("Index", "Courses")" type="button" class="btn btn-default btn-sm">
                @*<span class="glyphicon glyphicon-arrow-up">
                </span>*@
                Tillbaka
            </a>
        </div>
        <div class="col-sm-12">
            <table class="infotables" id="activities">
                <h2>Aktiviteter som ingår i kursen @*@Html.DisplayFor(model => model.Name)*@ </h2>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>

                    @*<th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <td>
                        <strong>Aktivitetstyp</strong
                    </td>

                    @*<th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>*@
                    <th>
                        <strong>Inlämningsuppgift</strong>
                    </th>
                    <th>

                    </th>
                </tr>
                @foreach (var item in Model.CourseActivities)
                {
                    string visibleText = ExtensionMethods.trTextColor(item.StartTime, item.EndTime);
                    string GoToUrl = "../Activities/Details";
                    string contDescr = " ...";
                    int dispLength = 10;
                    if (item.Description.Length < dispLength) { dispLength = item.Description.Length; contDescr = ""; };
                    string dispDescription = item.Description.Substring(0, dispLength) + contDescr;
                    <tr style=@ExtensionMethods.trColorGrayWhite(ViewBag.OddOrEven) onclick="this.children[0].children[0].click();">
                        <td>
                            @*@Html.ActionLink(item.StartTime.ToString("yyyy-MM-dd"), @GoToUrl, new { id = item.Id }, new { @class = @visibleText })*@
                            @Html.DisplayFor(model => item.StartTime)

                        </td>
                        <td>
                            @*@Html.ActionLink(item.EndTime.ToString("yyyy-MM-dd"), @GoToUrl, new { id = item.Id }, new { @class = @visibleText })*@
                            @Html.DisplayFor(model => item.EndTime)
                        </td>
                        @*<td>
                            @Html.ActionLink(item.Id.ToString(), @GoToUrl, new { id = item.Id }, new { @class = @visibleText })
                            @Html.DisplayFor(model => item.StartTime)
                        </td>*@
                        <td>
                            @*@Html.ActionLink(item.Name, @GoToUrl, new { id = item.Id }, new { @class = @visibleText })*@
                            @Html.DisplayFor(model => item.Name)
                        </td>
                        <td>
                            @*@Html.ActionLink(ExtensionMethods.DisplayFor(item.ActivityType), @GoToUrl, new { id = item.Id }, new { @class = @visibleText })*@
                            @Html.DisplayFor(model => item.ActivityType)
                        </td>
                        @*<td>
                            @Html.ActionLink(@dispDescription, @GoToUrl, new { id = item.Id }, new { @class = @visibleText })
                            @Html.DisplayFor(model => item.dispDescription)
                        </td>*@
                        <td>
                            @Html.DisplayFor(model => item.Deadline)
                        </td>
                        @if (User.IsInRole("Teacher")) {
                        <td>
                            <a href="@Url.Action("Edit", "Activities", new { id = item.Id })" class="btn btn-warning btn-xs">
                                <span class="glyphicon glyphicon-edit"></span>
                                Ändra
                            </a>
                        </td>
                        }
                        <td>
                            <a href="@Url.Action("Details", "Activities", new { id = item.Id })" class=" btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                Detaljer
                            </a>
                        </td>
                        @if (User.IsInRole("Teacher")) {
                        <td>
                            <a href="@Url.Action("Delete", "Activities", new { id = item.Id })" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-minus-sign"></span>
                                Ta bort
                            </a>
                        </td>
                        }
                    </tr>
                    ViewBag.OddOrEven = ViewBag.OddOrEven + 1;
                }
            </table>
            <br />
            @if (User.IsInRole("Teacher"))
            {
                <span>
                    <a href="@Url.Action("Create", "Activities", new { id = Model.Id })" c class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-new-window">
                        </span>
                        Lägg till
                    </a>
                </span>
            }
    </div>
</div>
<div class="container botMarg">
    <div class="col-sm-12">
        <p>
        </p>
    </div>
</div>
