@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Kurs detaljerad beskrivning";
    ViewBag.GoBackToView = "../Courses/Details/";
    ViewBag.CourseId = Model.Id;
}

<h2>Kurs detaljerad beskrivning</h2>

<div style="color:red">
    <h4>@Html.DisplayFor(model => model.Group.Name) / @Html.DisplayFor(model => model.Name)/</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dd>
            <h4>Aktiviteter ingående i @Html.DisplayFor(model => model.Name) </h4>
            <table class="table">
                <tr>
                    <th>Starttid)</th>
                    <th>Sluttid</th>
                    <th>ID</th>
                    <th>Namn</th>
                    <th>Aktivitet</th>
                    <th>Beskrivning</th>
                    <th>Deadline</th>
                </tr>
                @foreach (var item in Model.CourseActivities) {
                    string Style = "color:red";
                    if ((item.StartTime <= DateTime.Now) || (item.StartTime >= DateTime.Now)) {
                        Style = "color:green";

                    }
                    <tr style="@Style">
                        <td style="@Style">
                            @Html.ActionLink(item.StartTime.ToString("yyyy-MM-dd hh:mm"), "../Activities/Details", new { id = item.Id })
                        </td>
                        <td>
                            @Html.ActionLink(item.EndTime.ToString("yyyy-MM-dd hh:mm"), "../Activities/Details", new { id = item.Id })
                        </td>
                        <td>
                            @Html.ActionLink(item.Id.ToString(), "../Activities/Details", new { id = item.Id })
                        </td>
                        <td>
                            @Html.ActionLink(item.Name, "../Activities/Details", new { id = item.Id })
                        </td>
                        <td>
                            @Html.ActionLink(LexiconLMS.ExtensionMethods.ExtensionMethods.DisplayFor(item.ActivityType), "../Activities/Details", new { id = item.Id })
                            @*@Html.DisplayFor(modelItem => item.ActivityType, "../Activities/Details", new { id = item.Id })*@
                        </td>
                        <td>
                            @Html.ActionLink(item.Description, "../Activities/Details", new { id = item.Id })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deadline)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
    <p>
        @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Åter till lista", "Index")
    </p>
    @*@Html.Partial("_PartialCourseActivites.cshtml", IEnumerable<LexiconLMS.Models.Activities>)*@