@model LexiconLMS.Models.Group
@using Microsoft.AspNet.Identity
@using GridMvc.Html;
@using LexiconLMS;

@{
    ViewBag.Title = "Details";
}

<h2>Kurs @Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Detaljer</h4>
</div>
<div class="container-fluid topMarg">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="mini-box" style="background: #E0E0E0;color:#0000">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StartDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>
                </dl>
            </div>
            @if (User.IsInRole("Teacher"))
            {@Html.ActionLink("Redigera", "Edit", new { id = Model.Id })}
            @Html.ActionLink("Åter till lista", "Index")
        </div>
        <div class="col-sm-4">
            <div class="mini-box">
                <table id="users" style="background: #E0E0E0;color:#0000">
                    <h4 style="background: rgba(0, 137, 208, 0.6);color:#FFFFFF">Elever i kurs @Html.DisplayFor(model => model.Name) </h4>
                    <tr style="background:rgba(0, 137, 208, 0.8);color:#FFFFFF">
                        <td>
                            Namn________|
                        </td>

                        <td>
                            e-postadress__________________
                        </td>
                        <td></td>
                    </tr>
                    @foreach (var student in Model.GroupStudents)
                    {
                        <tr onclick="this.children[0].children[0].click();">
                            <td>
                                @Html.DisplayFor(model => student.Fullname)
                            </td>
                            <td>
                                @Html.DisplayFor(model => student.Email)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-sm-4">
            <h4 style="background: rgba(0, 137, 208, 0.6);color:#FFFFFF" ;> Delkurser i utbildning @Html.DisplayFor(model => model.Name) </h4>
            <table id="courses" style="background: #E0E0E0;color:#0000">
                <tr style="background:rgba(0, 137, 208, 0.8);color:#FFFFFF">
                    <td>
                        Namn
                    </td>
                    <td>
                        Beskrivning
                    </td>
                    >
                </tr>
                @foreach (var course in Model.GroupCourses)
                {
                    string visibleText = ExtensionMethods.trTextColor(course.StartDate, course.EndDate);
                    string GoToUrl = "../Courses/Details";
                    <tr style=@ExtensionMethods.trColor(course.StartDate, course.EndDate) onclick="this.children[0].children[0].click();">
                        <td>
                            <a> @Html.ActionLink(course.Name, @GoToUrl, new { id = course.Id })</a>
                            @*@Html.DisplayFor(model => course.Name)*@
                        </td>
                        <td>
                            @Html.ActionLink(course.Description, @GoToUrl, new { id = course.Id })
                            @*@Html.DisplayFor(model => course.Description)*@
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>
<div class="container botMarg">
    <div class="col-sm-12">
        <p>
        </p>
    </div>
</div>