@model IEnumerable<LexiconLMS.Models.Group>

@{
    ViewBag.Title = "Index";
}

@*@{
    var className = "";
    if (ViewBag.sortOrder.Equals("name_desc"))
    {
        className = "glyphicon glyphicon-triangle-top";
    }
    else
    {
        className = "glyphicon glyphicon-triangle-bottom";
    }
}*@


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            @Html.ActionLink("Namn", "Index", new { sortOrder = ViewBag.NameSortParm }, new { @class = "my-class1" })
            @if (ViewBag.sortOrder == "name_desc")
            {
                <i class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
            }
            else if (ViewBag.sortOrder == "name")
            {
                <i class="glyphicon glyphicon-sort-by-alphabet"></i>
            }

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>   
            @*@Html.DisplayNameFor(model => model.StartDate)*@
            @Html.ActionLink("Startdatum", "Index", new { sortOrder = ViewBag.DateSortParm }, new { @class = "my-class1" })
            @if (ViewBag.sortOrder == "date_desc")
            {
                <i class="glyphicon glyphicon-sort-by-order-alt"></i>
            }
            else if (ViewBag.sortOrder == "date")
            {
                <i class="glyphicon glyphicon-sort-by-order"></i>
            }
             
            
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.EndDate)*@
            @Html.ActionLink("Slutdatum", "Index", new { sortOrder = ViewBag.EndDateSortParm }, new { @class = "my-class1" })
            @if (ViewBag.sortOrder == "end_date_desc")
            {
                <i class="glyphicon glyphicon-sort-by-order-alt"></i>
            }
            else if (ViewBag.sortOrder == "end_date")
            {
                <i class="glyphicon glyphicon-sort-by-order"></i>
            }

        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
